body{
    background-color: rgb(43, 226, 195);
}
#abtus{
    font-size: medium;
}
#knowmore{
    background-color: orange;
    color :rgb(60, 30, 210);
}
#abtwst{
    font-size: medium;
}
section {
    padding: 40px 0;
    background-color: #fff;
    
}